HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
db/data/\#ib_16384_0.dblwr
db/data/\#ib_16384_1.dblwr
db/data/\#innodb_redo/\#ib_redo10_tmp
db/data/\#innodb_redo/\#ib_redo11_tmp
db/data/\#innodb_redo/\#ib_redo12_tmp
db/data/\#innodb_redo/\#ib_redo13_tmp
db/data/\#innodb_redo/\#ib_redo14_tmp
db/data/\#innodb_redo/\#ib_redo15_tmp
db/data/\#innodb_redo/\#ib_redo16_tmp
db/data/\#innodb_redo/\#ib_redo17_tmp
db/data/\#innodb_redo/\#ib_redo18_tmp
db/data/\#innodb_redo/\#ib_redo19_tmp
db/data/\#innodb_redo/\#ib_redo20_tmp
db/data/\#innodb_redo/\#ib_redo21_tmp
db/data/\#innodb_redo/\#ib_redo22_tmp
db/data/\#innodb_redo/\#ib_redo23_tmp
db/data/\#innodb_redo/\#ib_redo24_tmp
db/data/\#innodb_redo/\#ib_redo25_tmp
db/data/\#innodb_redo/\#ib_redo26_tmp
db/data/\#innodb_redo/\#ib_redo27_tmp
db/data/\#innodb_redo/\#ib_redo28_tmp
db/data/\#innodb_redo/\#ib_redo29_tmp
db/data/\#innodb_redo/\#ib_redo30_tmp
db/data/\#innodb_redo/\#ib_redo31_tmp
db/data/\#innodb_redo/\#ib_redo32_tmp
db/data/\#innodb_redo/\#ib_redo33_tmp
db/data/\#innodb_redo/\#ib_redo34_tmp
db/data/\#innodb_redo/\#ib_redo35_tmp
db/data/\#innodb_redo/\#ib_redo36_tmp
db/data/\#innodb_redo/\#ib_redo37_tmp
db/data/\#innodb_redo/\#ib_redo38_tmp
db/data/\#innodb_redo/\#ib_redo39_tmp
db/data/\#innodb_redo/\#ib_redo40_tmp
db/data/\#innodb_redo/\#ib_redo9
db/data/auto.cnf
db/data/binlog.000001
db/data/binlog.000002
db/data/binlog.index
db/data/ca-key.pem
db/data/ca.pem
db/data/client-cert.pem
db/data/client-key.pem
db/data/ib_buffer_pool
db/data/ibdata1
db/data/mysql.ibd
db/data/mysql.sock
db/data/mysql/general_log.CSM
db/data/mysql/general_log.CSV
db/data/mysql/general_log_213.sdi
db/data/mysql/slow_log.CSM
db/data/mysql/slow_log.CSV
db/data/mysql/slow_log_214.sdi
db/data/performance_schema/accounts_145.sdi
db/data/performance_schema/binary_log_trans_189.sdi
db/data/performance_schema/cond_instances_82.sdi
db/data/performance_schema/data_lock_waits_161.sdi
db/data/performance_schema/data_locks_160.sdi
db/data/performance_schema/error_log_83.sdi
db/data/performance_schema/events_errors_su_139.sdi
db/data/performance_schema/events_errors_su_140.sdi
db/data/performance_schema/events_errors_su_141.sdi
db/data/performance_schema/events_errors_su_142.sdi
db/data/performance_schema/events_errors_su_143.sdi
db/data/performance_schema/events_stages_cu_111.sdi
db/data/performance_schema/events_stages_hi_112.sdi
db/data/performance_schema/events_stages_hi_113.sdi
db/data/performance_schema/events_stages_su_114.sdi
db/data/performance_schema/events_stages_su_115.sdi
db/data/performance_schema/events_stages_su_116.sdi
db/data/performance_schema/events_stages_su_117.sdi
db/data/performance_schema/events_stages_su_118.sdi
db/data/performance_schema/events_statement_119.sdi
db/data/performance_schema/events_statement_120.sdi
db/data/performance_schema/events_statement_121.sdi
db/data/performance_schema/events_statement_122.sdi
db/data/performance_schema/events_statement_123.sdi
db/data/performance_schema/events_statement_124.sdi
db/data/performance_schema/events_statement_125.sdi
db/data/performance_schema/events_statement_126.sdi
db/data/performance_schema/events_statement_127.sdi
db/data/performance_schema/events_statement_128.sdi
db/data/performance_schema/events_statement_129.sdi
db/data/performance_schema/events_statement_130.sdi
db/data/performance_schema/events_transacti_131.sdi
db/data/performance_schema/events_transacti_132.sdi
db/data/performance_schema/events_transacti_133.sdi
db/data/performance_schema/events_transacti_134.sdi
db/data/performance_schema/events_transacti_135.sdi
db/data/performance_schema/events_transacti_136.sdi
db/data/performance_schema/events_transacti_137.sdi
db/data/performance_schema/events_transacti_138.sdi
db/data/performance_schema/events_waits_cur_84.sdi
db/data/performance_schema/events_waits_his_85.sdi
db/data/performance_schema/events_waits_his_86.sdi
db/data/performance_schema/events_waits_sum_87.sdi
db/data/performance_schema/events_waits_sum_88.sdi
db/data/performance_schema/events_waits_sum_89.sdi
db/data/performance_schema/events_waits_sum_90.sdi
db/data/performance_schema/events_waits_sum_91.sdi
db/data/performance_schema/events_waits_sum_92.sdi
db/data/performance_schema/file_instances_93.sdi
db/data/performance_schema/file_summary_by__94.sdi
db/data/performance_schema/file_summary_by__95.sdi
db/data/performance_schema/global_status_181.sdi
db/data/performance_schema/global_variables_184.sdi
db/data/performance_schema/host_cache_96.sdi
db/data/performance_schema/hosts_146.sdi
db/data/performance_schema/keyring_componen_191.sdi
db/data/performance_schema/keyring_keys_152.sdi
db/data/performance_schema/log_status_174.sdi
db/data/performance_schema/memory_summary_b_154.sdi
db/data/performance_schema/memory_summary_b_155.sdi
db/data/performance_schema/memory_summary_b_156.sdi
db/data/performance_schema/memory_summary_b_157.sdi
db/data/performance_schema/memory_summary_g_153.sdi
db/data/performance_schema/metadata_locks_159.sdi
db/data/performance_schema/mutex_instances_97.sdi
db/data/performance_schema/objects_summary__98.sdi
db/data/performance_schema/performance_time_99.sdi
db/data/performance_schema/persisted_variab_187.sdi
db/data/performance_schema/prepared_stateme_175.sdi
db/data/performance_schema/processlist_100.sdi
db/data/performance_schema/replication_appl_165.sdi
db/data/performance_schema/replication_appl_166.sdi
db/data/performance_schema/replication_appl_167.sdi
db/data/performance_schema/replication_appl_168.sdi
db/data/performance_schema/replication_appl_170.sdi
db/data/performance_schema/replication_appl_171.sdi
db/data/performance_schema/replication_asyn_172.sdi
db/data/performance_schema/replication_asyn_173.sdi
db/data/performance_schema/replication_conn_162.sdi
db/data/performance_schema/replication_conn_164.sdi
db/data/performance_schema/replication_grou_163.sdi
db/data/performance_schema/replication_grou_169.sdi
db/data/performance_schema/rwlock_instances_101.sdi
db/data/performance_schema/session_account__151.sdi
db/data/performance_schema/session_connect__150.sdi
db/data/performance_schema/session_status_182.sdi
db/data/performance_schema/session_variable_185.sdi
db/data/performance_schema/setup_actors_102.sdi
db/data/performance_schema/setup_consumers_103.sdi
db/data/performance_schema/setup_instrument_104.sdi
db/data/performance_schema/setup_objects_105.sdi
db/data/performance_schema/setup_threads_106.sdi
db/data/performance_schema/socket_instances_147.sdi
db/data/performance_schema/socket_summary_b_148.sdi
db/data/performance_schema/socket_summary_b_149.sdi
db/data/performance_schema/status_by_accoun_177.sdi
db/data/performance_schema/status_by_host_178.sdi
db/data/performance_schema/status_by_thread_179.sdi
db/data/performance_schema/status_by_user_180.sdi
db/data/performance_schema/table_handles_158.sdi
db/data/performance_schema/table_io_waits_s_107.sdi
db/data/performance_schema/table_io_waits_s_108.sdi
db/data/performance_schema/table_lock_waits_109.sdi
db/data/performance_schema/threads_110.sdi
db/data/performance_schema/tls_channel_stat_190.sdi
db/data/performance_schema/user_defined_fun_188.sdi
db/data/performance_schema/user_variables_b_176.sdi
db/data/performance_schema/users_144.sdi
db/data/performance_schema/variables_by_thr_183.sdi
db/data/performance_schema/variables_info_186.sdi
db/data/private_key.pem
db/data/public_key.pem
db/data/server-cert.pem
db/data/server-key.pem
db/data/sys/sys_config.ibd
db/data/undo_001
db/data/undo_002
db/data/\#innodb_redo/\#ib_redo10
db/data/\#innodb_redo/\#ib_redo41_tmp
db/data/binlog.000003
db/data/binlog.000004
db/data/binlog.000005
db/data/solve/assignment.ibd
db/data/solve/membership.ibd
db/data/solve/membership_seq.ibd
db/data/solve/problem.ibd
db/data/\#innodb_temp/temp_1.ibt
db/data/\#innodb_temp/temp_10.ibt
db/data/\#innodb_temp/temp_2.ibt
db/data/\#innodb_temp/temp_3.ibt
db/data/\#innodb_temp/temp_4.ibt
db/data/\#innodb_temp/temp_5.ibt
db/data/\#innodb_temp/temp_6.ibt
db/data/\#innodb_temp/temp_7.ibt
db/data/\#innodb_temp/temp_8.ibt
db/data/\#innodb_temp/temp_9.ibt
db/data/binlog.000006
db/data/binlog.000007
db/data/ibtmp1
gitRepository/market-service/
db/data/solve/problem_case.ibd
db/data/solve/wargame_problem.ibd
db/data/solve/user.ibd
db/data/solve/problem_tags.ibd
db/data/solve/comment.ibd
db/data/solve/board.ibd
db/data/solve/assignment_problem.ibd
db/data/solve/algorithm_problem.ibd
db/data/solve/solved.ibd
db/data/solve/boards.ibd
db/data/solve/problems.ibd
uploads/problems/10_thread_dump.txt
uploads/problems/null_thread_dump.txt
db/data/\#innodb_redo/\#ib_redo11
db/data/\#innodb_redo/\#ib_redo12
db/data/\#innodb_redo/\#ib_redo13
db/data/\#innodb_redo/\#ib_redo14
db/data/\#innodb_redo/\#ib_redo15
db/data/\#innodb_redo/\#ib_redo16
db/data/\#innodb_redo/\#ib_redo17
db/data/\#innodb_redo/\#ib_redo18
db/data/\#innodb_redo/\#ib_redo19
db/data/\#innodb_redo/\#ib_redo20
db/data/\#innodb_redo/\#ib_redo21
db/data/\#innodb_redo/\#ib_redo22
db/data/\#innodb_redo/\#ib_redo23
db/data/\#innodb_redo/\#ib_redo24
db/data/\#innodb_redo/\#ib_redo25
db/data/\#innodb_redo/\#ib_redo26
db/data/solve/user_field_scores.ibd
ca.crt
db/data/\#innodb_redo/\#ib_redo42_tmp
db/data/\#innodb_redo/\#ib_redo43_tmp
db/data/\#innodb_redo/\#ib_redo44_tmp
db/data/\#innodb_redo/\#ib_redo45_tmp
db/data/\#innodb_redo/\#ib_redo46_tmp
db/data/\#innodb_redo/\#ib_redo47_tmp
db/data/\#innodb_redo/\#ib_redo48_tmp
db/data/\#innodb_redo/\#ib_redo49_tmp
db/data/\#innodb_redo/\#ib_redo50_tmp
db/data/\#innodb_redo/\#ib_redo51_tmp
db/data/\#innodb_redo/\#ib_redo52_tmp
db/data/\#innodb_redo/\#ib_redo53_tmp
db/data/\#innodb_redo/\#ib_redo54_tmp
db/data/\#innodb_redo/\#ib_redo55_tmp
db/data/\#innodb_redo/\#ib_redo56_tmp
db/data/\#innodb_redo/\#ib_redo57_tmp
db/data/binlog.000008
db/data/binlog.000009
db/data/binlog.000010
logs/zgc.log.4
logs/zgc.log.3
logs/zgc.log.2
logs/zgc.log.1
logs/zgc.log.0
logs/zgc.log
logs/shenandoah-gc.log
logs/g1-gc.log.4
logs/g1-gc.log.3
logs/g1-gc.log.2
logs/g1-gc.log.1
logs/g1-gc.log.0
logs/g1-gc.log
heapdump/heapdump-20250410025958_Top_Consumers.zip
heapdump/heapdump-20250410025958_Top_Components.zip
heapdump/heapdump-20250410025958_Leak_Suspects.zip
heapdump/heapdump-20250410025958.threads
heapdump/heapdump-20250410025958.outbound.index
heapdump/heapdump-20250410025958.o2ret.index
heapdump/heapdump-20250410025958.o2hprof.index
heapdump/heapdump-20250410025958.o2c.index
heapdump/heapdump-20250410025958.index
heapdump/heapdump-20250410025958.inbound.index
heapdump/heapdump-20250410025958.idx.index
heapdump/heapdump-20250410025958.i2sv2.index
heapdump/heapdump-20250410025958.hprof
heapdump/heapdump-20250410025958.domOut.index
heapdump/heapdump-20250410025958.domIn.index
heapdump/heapdump-20250410025958.a2s.index
heapdump/heapdump-20250410025309.hprof
grafana/volume/grafana.db
grafana/volume/plugins/grafana-lokiexplore-app/105.js
grafana/volume/plugins/grafana-lokiexplore-app/105.js.LICENSE.txt
grafana/volume/plugins/grafana-lokiexplore-app/105.js.map
grafana/volume/plugins/grafana-lokiexplore-app/1759fd27b2c9f73dea05.wasm
grafana/volume/plugins/grafana-lokiexplore-app/220.js
grafana/volume/plugins/grafana-lokiexplore-app/220.js.map
grafana/volume/plugins/grafana-lokiexplore-app/543.js
grafana/volume/plugins/grafana-lokiexplore-app/543.js.map
grafana/volume/plugins/grafana-lokiexplore-app/599.js
grafana/volume/plugins/grafana-lokiexplore-app/599.js.map
grafana/volume/plugins/grafana-lokiexplore-app/631.js
grafana/volume/plugins/grafana-lokiexplore-app/631.js.map
grafana/volume/plugins/grafana-lokiexplore-app/649058283f564041551d.wasm
grafana/volume/plugins/grafana-lokiexplore-app/747.js
grafana/volume/plugins/grafana-lokiexplore-app/747.js.map
grafana/volume/plugins/grafana-lokiexplore-app/854.js
grafana/volume/plugins/grafana-lokiexplore-app/854.js.map
grafana/volume/plugins/grafana-lokiexplore-app/944.js
grafana/volume/plugins/grafana-lokiexplore-app/944.js.map
grafana/volume/plugins/grafana-lokiexplore-app/CHANGELOG.md
grafana/volume/plugins/grafana-lokiexplore-app/img/3d96a93cfcb32df74eef.svg
grafana/volume/plugins/grafana-lokiexplore-app/img/drilldown-features.png
grafana/volume/plugins/grafana-lokiexplore-app/img/explore-logs-features.jpeg
grafana/volume/plugins/grafana-lokiexplore-app/img/fields.png
grafana/volume/plugins/grafana-lokiexplore-app/img/grot_err.svg
grafana/volume/plugins/grafana-lokiexplore-app/img/grot_err_light.svg
grafana/volume/plugins/grafana-lokiexplore-app/img/grot_loki.svg
grafana/volume/plugins/grafana-lokiexplore-app/img/logo.svg
grafana/volume/plugins/grafana-lokiexplore-app/img/patterns.png
grafana/volume/plugins/grafana-lokiexplore-app/img/service_logs.jpg
grafana/volume/plugins/grafana-lokiexplore-app/img/table.png
grafana/volume/plugins/grafana-lokiexplore-app/LICENSE
grafana/volume/plugins/grafana-lokiexplore-app/MANIFEST.txt
grafana/volume/plugins/grafana-lokiexplore-app/module.js
grafana/volume/plugins/grafana-lokiexplore-app/module.js.map
grafana/volume/plugins/grafana-lokiexplore-app/plugin.json
grafana/volume/plugins/grafana-lokiexplore-app/README.md
grafana/volume/plugins/grafana-pyroscope-app/944c737f589d02ecf603.svg
grafana/volume/plugins/grafana-pyroscope-app/CHANGELOG.md
grafana/volume/plugins/grafana-pyroscope-app/e6c722427cfa8715e19d.svg
grafana/volume/plugins/grafana-pyroscope-app/e79edcfbe2068fae2364.svg
grafana/volume/plugins/grafana-pyroscope-app/img/58f0b0e1cfa063e4b662.png
grafana/volume/plugins/grafana-pyroscope-app/img/61b4cf746a6f58780f27.png
grafana/volume/plugins/grafana-pyroscope-app/img/8cdf4d2e2df8326311ab.gif
grafana/volume/plugins/grafana-pyroscope-app/img/9c9cdd5175734d579007.png
grafana/volume/plugins/grafana-pyroscope-app/img/bafee50693eb02088442.png
grafana/volume/plugins/grafana-pyroscope-app/img/decrease-latency.png
grafana/volume/plugins/grafana-pyroscope-app/img/diff-view-how-to.gif
grafana/volume/plugins/grafana-pyroscope-app/img/hero-image.png
grafana/volume/plugins/grafana-pyroscope-app/img/logo.svg
grafana/volume/plugins/grafana-pyroscope-app/img/reduce-costs.png
grafana/volume/plugins/grafana-pyroscope-app/img/resolve-incidents.png
grafana/volume/plugins/grafana-pyroscope-app/LICENSE
grafana/volume/plugins/grafana-pyroscope-app/MANIFEST.txt
grafana/volume/plugins/grafana-pyroscope-app/module.js
grafana/volume/plugins/grafana-pyroscope-app/module.js.LICENSE.txt
grafana/volume/plugins/grafana-pyroscope-app/module.js.map
grafana/volume/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-dark.svg
grafana/volume/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-light.svg
grafana/volume/plugins/grafana-pyroscope-app/plugin.json
grafana/volume/plugins/grafana-pyroscope-app/README.md
grafana/volume/plugins/grafana-pyroscope-app/shared/infrastructure/profile-metrics/profile-metrics.json
prometheus/volume/data/chunks_head/000001
prometheus/volume/data/lock
prometheus/volume/data/queries.active
prometheus/volume/data/wal/00000000
prometheus/volume/data/01JSM1MCMGGWMVN4Y5T51XBP6T/chunks/000001
prometheus/volume/data/01JSM1MCMGGWMVN4Y5T51XBP6T/index
prometheus/volume/data/01JSM1MCMGGWMVN4Y5T51XBP6T/meta.json
prometheus/volume/data/01JSM1MCMGGWMVN4Y5T51XBP6T/tombstones
prometheus/volume/data/chunks_head/000002
prometheus/volume/data/chunks_head/000003
prometheus/volume/data/chunks_head/000004
prometheus/volume/data/wal/00000002
prometheus/volume/data/wal/00000003
prometheus/volume/data/wal/00000004
prometheus/volume/data/wal/checkpoint.00000001/00000000
prometheus/volume/data/chunks_head/000005
db/data/binlog.000011
db/data/binlog.000012
db/data/solve/container_resource_limits.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_1.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_2.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_3.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_4.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_5.ibd
db/data/solve/fts_000000000000045e_00000000000000f1_index_6.ibd
db/data/solve/fts_000000000000045e_being_deleted.ibd
db/data/solve/fts_000000000000045e_being_deleted_cache.ibd
db/data/solve/fts_000000000000045e_config.ibd
db/data/solve/fts_000000000000045e_deleted.ibd
db/data/solve/fts_000000000000045e_deleted_cache.ibd
prometheus/volume/data/wal/checkpoint.00000003/00000000
prometheus/volume/data/wal/00000006
prometheus/volume/data/wal/00000005
prometheus/volume/data/chunks_head/000007
prometheus/volume/data/chunks_head/000006
prometheus/volume/data/01JSMBW4T7TAHV5ZX2173ZJ2SH/tombstones
prometheus/volume/data/01JSMBW4T7TAHV5ZX2173ZJ2SH/meta.json
prometheus/volume/data/01JSMBW4T7TAHV5ZX2173ZJ2SH/index
prometheus/volume/data/01JSMBW4T7TAHV5ZX2173ZJ2SH/chunks/000001
prometheus/volume/data/01JSM508R94Q9AM9J7B1WD40EA/tombstones
prometheus/volume/data/01JSM508R94Q9AM9J7B1WD40EA/meta.json
prometheus/volume/data/01JSM508R94Q9AM9J7B1WD40EA/index
prometheus/volume/data/01JSM508R94Q9AM9J7B1WD40EA/chunks/000001
